id: 5
source: 1
templatename: 'Modèle HandiPro31 - Articles'
description: 'Modèle pour l''affichage de tous les articles sur la page "informations-et-actualités"'
category: 'Actualités  Informations'
properties: 'a:0:{}'

-----

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>[[*pagetitle]] - HandiPro31</title>
  <link rel="icon" type="image/png" href="[[++assets_url]]images/HandiPro31.png">

    <!-- CSS de base -->
    <link rel="stylesheet" href="[[++assets_url]]css/reset.css" />
    <link rel="stylesheet" href="[[++assets_url]]css/header.css" />
    <link rel="stylesheet" href="[[++assets_url]]css/footer.css" />

    <!-- chunk CSS -->
    <link rel="stylesheet" href="[[++assets_url]]css/breadcrumb.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- CSS générique pour les articles -->
    <link rel="stylesheet" href="[[++assets_url]]css/informations-et-actualites.css" /> <!--css pour les pages d'articles-->
</head>


<body>
  [[$header]]
  <main>
    [[$articles]]
  </main>
  [[$footer]]


  <script src="[[++assets_url]]js/dropdown.js"></script>
  <script src="[[++assets_url]]js/boutonTop.js"></script>
</body>

</html>